version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
        interval: "weekly"
    labels:
      - "dependencies"
  - package-ecosystem: "gradle"
    registries: "*"
    directory: "/"
    schedule:
        interval: "daily"
    labels:
      - "dependencies"
    open-pull-requests-limit: 10
